body {
	background-color: yellow;
}

.tekst1, .tekst2{
	width: 500px; 
	text-align: justify;
	font-family: Arial, sans-serif;
}
.tekst1 .esimene {
	fon-weight: bold;
}	

.tekst2 .esimene {
	color: #AAAAAA;
}	
h1 {
	font-family: "Courier New", monospace;
	border-bottom: 2px solid green;
}