body { background: #DB7093; }
  	h1 {color: #DC143C;}
  	#lehesisu {
	  background-color: #FFEFD5;
	  min-width: 600px;
	  max-width: 1000px;
	  margin: auto;	
	}
  	#tekst {background-color: #ffffff; text-align: justify;}
  	#lingid {color: blue; font-weight: normal; font-size: 20px}
  	a:hover {font-weight: bold; color: black; background-color: white;}
	#pildid img {border: 3px solid red;}