body {
	font-family: Arial, Sans Serif;
}

.menyykast {
	/*padding: 10px 0;*/
	margin-bottom: 10px;
}

@media (min-width: 700px) {
	.menyy {
		flex-direction: row;
	}		
}

@media (max-width: 700px) {
	.menyy {
		flex-direction: column;
	}
}

.menyy {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	display: flex;
}

.menyy li{
	width: 7em;
	padding: 5px;
	background-color: #EEEEEE;

}

.menyy .valitud {
	background-color: blue;
}
.menyy a {
	color: blue;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

.menyy a:hover{
	text-decoration: underline;
}
	
.menyy .valitud a{
	color: white;
}

.clear {
	clear: both;	
}

.tabel {
	font-family: Arial, sans-serif;
	border-spacing: 0px;
}

.tabel caption {
	font-weight: bold;
	font-size: 110%;
}

.tabel td, tabel th {
	border-top: 1px solid #AAAAAA;
	padding: 5px;
}

input [type="tekst"], input [type="password"] {
	font-family: Arial, sans-serif;
	padding: 5px 10px;
	font-size: 13px;
	border: 2px solid #AAAAAA;
	border-radius: 3px;
	width: 15em;
}

input [type="tekst"] {

}

input [type="password"] {
	
}

div.autor {
	border: 1px solid red;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: white;
}